<div class="title">
    <h1> ▸ Training</h1>
</div>
<app-spacer height="25px" />
<div class="box back">
    <div class="cv-category-title">
        <p class="period">▸ 2023 - 2024</p>
        <p class="title"><b>.NET Developer</b></p>
    </div>
    <p class="place">&#64; <a href="http://www.satellit.be/" target="_blank">Satellit</a></p>
    <p><b>Backend Development</b></p>
    <ul>
        <li>Adopted Clean Architecture to improve maintainability and scalability of .NET applications.</li>
        <li>Utilized EF Core for data access, enhancing application performance and data management.</li>
        <li>Integrated MediatR, AutoMapper, and Fluent Validation to streamline application workflows and data
            processing.</li>
        <li>Applied CQS and Repository design patterns to separate concerns and promote code modularity.</li>
        <li>Leveraged CI/CD practices with YAML files to automate deployment processes and enhance productivity.</li>
        <li>Explored Docker and Kubernetes for box backization and orchestration to improve deployment efficiency and
            scalability.</li>
        <li>Acquired in-depth knowledge of .NET ecosystem.</li>
        <li>Investigated the potential of Microservices and BFF patterns for future scalability and flexibility.</li>
    </ul>
    <p><b>Frontend Development</b></p>
    <ul>
        <li>Enhanced user interfaces with Angular, utilizing advanced HTML and SCSS techniques for responsive design.
        </li>
        <li>Employed TypeScript to enforce type safety and improve code maintainability and readability.</li>
        <li>Learned RXJS for declarative and reactive programming.</li>
    </ul>
    <p><b>Additional Skills</b></p>
    <ul>
        <li>Developed a comprehensive understanding of software design and architectural patterns.</li>
        <li>Engaged in continuous learning to keep up with the latest industry trends and technologies.</li>
    </ul>
</div>
<app-spacer height="25px" />
<div class="box back">
    <div class="cv-category-title">
        <p class="period">▸ 2023</p>
        <p class="title"><b>WEB Developer</b> ( Full Stack )</p>
    </div>
    <p class="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>
    <p><b>Back</b> :</p>
    <p>- Restful API in Node JS on SQL Server</p>
    <p>- Express JS, Sequelize, ...</p>
    <p><b>Front</b> :</p>
    <p>- React JS Library : JSX, AJAX</p>
    <p>Using : Axios, Redux, React Router, ...</p>
    <p>- Angular</p>
</div>
<app-spacer height="25px" />
<div class="box back">
    <div class="cv-category-title">
        <p class="period">▸ 2022</p>
        <p class="title"><b>.NET</b> Azure</p>
    </div>
    <p class="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>

    <p><b>Back</b> :</p>
    <p>- Restful API in C# ( .NET ) on SQL Server</p>
    <p><b>Front</b> :</p>
    <p>- ASP MVC</p>
    <p>- Angular Framework : HTML / SCSS & TypeScript</p>
    <p><b>Others</b> :</p>
    <p>- WPF MVVM</p>
</div>
<app-spacer height="25px" />
<div class="box back">
    <div class="cv-category-title">
        <p class="period">▸ 2022</p>
        <p class="title"><b>IT</b> Fundamentals</p>
    </div>
    <p class="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>

    <p><b>Basics</b> :</p>
    <p>- Algorithmics</p>
    <p>- OOP ( C# )</p>
    <p>- UML / ER Diagram & Relational Schemas</p>
    <p>- SQL : DB on SQL Server ( with SSMS )</p>
</div>
<app-spacer height="25px" />
<div class="box back">
    <div class="cv-category-title">
        <p class="period">▸ 2022</p>
        <p class="title"><b>PHP</b> Initiation</p>
    </div>
    <p class="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>
    <p><b>Basics</b> : </p>
    <p>- Variables</p>
    <p>- Arrays</p>
    <p>- Functions</p>
</div>
<app-spacer height="25px" />
<div class="box back">
    <div class="cv-category-title">
        <p class="period">▸ 2021</p>
        <p class="title"><b>Digital Coordinator</b></p>
    </div>
    <p class="place">&#64; <a href="https://grow.google/intl/ch-fr" target="_blank">Google Digital Atelier</a></p>
    <p>- e-Commerce</p>
</div>
<app-spacer height="25px" />
<div class="box back">
    <div class="cv-category-title">
        <p class="period">▸ 2019</p>
        <p class="title"><b>SEO</b>, SEA, SMM</p>
    </div>
    <p class="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>
</div>
<app-spacer height="25px" />
<div class="box back">
    <div class="cv-category-title">
        <p class="period">▸ 2017</p>
        <p class="title"><b>Sound Design</b></p>
    </div>
    <p class="place">&#64; <a href="https://www.technocite.be" target="_blank">Technocité</a></p>
</div>
<app-spacer height="25px" />
<div class="box back">
    <div class="cv-category-title">
        <p class="period">▸ 2002</p>
        <p class="title"><b>CESS</b> : Visual Arts</p>
    </div>
    <p class="place">&#64; <a href="https://www.sainte-marie.be" target="_blank">Institut Ste-Marie</a></p>
</div>
<app-spacer height="175px" />