<div class="layout">
    <div class="page-title">
        <app-icon-training size="50px" />
        <h1> ▸ Training</h1>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ .NET Developer</p>
            <p>2023 - 2024</p>
        </div>
        <p class="place">&#64; <a href="http://www.satellit.be/" target="_blank">Satellit</a></p>
        <hr>
        <p> ▸ <b>Backend</b> : </p>
        <p> - Adopted Clean Architecture to improve maintainability and scalability of .NET applications.</p>
        <p> - Utilized EF Core for data access, enhancing application performance and data management.</p>
        <p> - Integrated MediatR, AutoMapper, and Fluent Validation to streamline application workflows and data processing.</p>
        <p> - Applied CQS and Repository design patterns to separate concerns and promote code modularity.</p>
        <p> - Leveraged CI/CD practices with YAML files to automate deployment processes and enhance productivity.</p>
        <p> - Explored Docker for box backization to improve deployment efficiency.</p>
        <p> - Explored Kubernetes for orchestration to improve scalability.</p>
        <p> - Explored Microsoft Azure Services.</p>
        <p> - Acquired in-depth knowledge of .NET ecosystem.</p>
        <p> - Investigated the potential of Microservices and BFF patterns for future scalability and flexibility.</p>
        <hr>
        <p> ▸ <b>Frontend</b> : </p>
        <p> - Enhanced user interfaces with Angular, utilizing advanced HTML and SCSS techniques for responsive design.</p>
        <p> - Employed TypeScript to enforce type safety and improve code maintainability and readability.</p>
        <p> - Adopted RXJS for declarative and reactive programming.</p>
        <p> - Adopted Signal to improve components communication.</p>
        <hr>
        <p> ▸ <b>Additional Skills</b> : </p>
        <p> - Developed a comprehensive understanding of software design and architectural patterns.</p>
        <p> - Engaged in continuous learning to keep up with the latest industry trends and technologies.</p>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ WEB Developer ( Full Stack )</p>
            <p>2023</p>
        </div>
        <p class="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p><hr>
        <p> ▸ <b>Backend</b> :</p>
        <p> - Restful API in Node JS on SQL Server</p>
        <p> - Express JS, Sequelize, ...</p>
        <hr>
        <p> ▸ <b>Frontend</b> :</p>
        <p> - React JS Library : JSX, AJAX</p>
        <p>( Axios, Redux, React Router, ... )</p>
        <p>- Angular</p>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ .NET Azure</p>
            <p>2022</p>
        </div>
        <p class="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>
        <hr>
        <p> ▸ <b>Backend</b> :</p>
        <p>- Restful API in C# ( .NET ) on SQL Server</p>
        <p> ▸ <b>Frontend</b> :</p>
        <p>- ASP MVC</p>
        <p>- Angular Framework : HTML / SCSS & TypeScript</p>
        <p><b>Others</b> :</p>
        <p>- WPF MVVM</p>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ IT Fundamentals</p>
            <p>2022</p>
        </div>
        <p class="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>
        <hr>
        <p><b>Basics</b> ( Algorithmics, OOP ( C# ), ... )</p>
        <p> - UML / ER Diagram & Relational Schemas</p>
        <p> - SQL : DB on SQL Server ( with SSMS )</p>
    </div>

    <div class="box back">
        <div class="box-title">
            <p> ▸ PHP Initiation</p>
            <p>2022</p>
        </div>
        <p class="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>
        <hr>
        <p>( Variables, Arrays, Functions )</p>
    </div>

    <div class="box back">
        <div class="box-title">
            <p> ▸ Digital Coordinator</p>
            <p>2021</p>
        </div>
        <p class="place">&#64; <a href="https://grow.google/intl/ch-fr" target="_blank">Google Digital Atelier</a></p>
        <hr>
        <p>( e-Commerce & Marketing )</p>
    </div>

    <div class="box back">
        <div class="box-title">
            <p> ▸ SEO, SEA, SMM</p>
            <p>2019</p>
        </div>
        <p class="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>
    </div>

    <div class="box back">
        <div class="box-title">
            <p> ▸ Sound Design</p>
            <p>2017</p>
        </div>
        <p class="place">&#64; <a href="https://www.technocite.be" target="_blank">Technocité</a></p>
    </div>

    <div class="box back">
        <div class="box-title">
            <p> ▸ CESS : Visual Arts</p>
            <p>2002</p>
        </div>
        <p class="place">&#64; <a href="https://www.sainte-marie.be" target="_blank">Institut Ste-Marie</a></p>
    </div>
    <app-spacer height="15px" />
</div>
<app-spacer height="175px" />