<app-button-top />

<div id="row_white">
    <div class="cv_title_category">
        <h2>Hard Skills</h2>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ Communication</p>
    </div>
    <p><u>Languages</u> :</p>
    <p> - <b>French</b> : C2</p>
    <p> - <b>English</b> : B2+</p>
    <p> - <b>Dutch / Flemish</b> : B2</p>
</div>

<div id="row_white">
    <div id="container">
        <div class="cv_category_title">
            <p class="period">▸ Conception</p>
        </div>
        <p>- Business Analysis</p>
        <p>- <b>UML</b> ( Unified Modeling Language )</p>
        <p>- ER Diagram & Relational Schema</p>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ Project Management</p>
    </div>
    <p>- <b>GIT</b> ( GitHub / GitLab )</p>
    <p>- Outlook</p>
    <p>- Trello / Jira ( Notions )</p>
</div>

<div id="row_white">
    <div id="container">
        <div class="cv_category_title">
            <p class="period">▸ Front</p>
        </div>
        <p>- <b>Angular</b> Framework : HTML, SCSS & TypeScript</p>
        <p>- <b>React</b> JS Library : JS, JSX, AJAX with Vite, Redux, ...</p>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ Back</p>
    </div>
    <p>- Database : SQL Server & MySQL</p>
    <p>- Restful API in .NET C#</p>
    <p>- Restful API in NodeJS</p>
</div>

<div id="row_white">
    <div id="container">
        <div class="cv_category_title">
            <p class="period">▸ Software</p>
        </div>
        <p>- DB : Azure Data Studio</p>
        <p>- DB : SSMS</p>
        <p>- IDE : Visual Studio</p>
        <p>- Edition : Visual Studio Code</p>
    </div>
</div>

