.header {
    position: sticky;
    top: 0;

    height: 63px;
    
    background-color: var(--colorWhiteOpacity9);
    border-bottom: 3px solid var(--colorMain);
    backdrop-filter: blur(3px);
    box-shadow: 0 3px 3px 0 var(--colorMainOpacity2);

    z-index: 10;
}