<div id="row_white">
    <div class="cv_title_category">
        <h2>Training</h2>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ 2023</p>
        <p class="title"><b>WEB Developer</b> ( Full Stack )</p>
    </div>
    <p class="place">@ <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>
    <p><b>Back</b> :</p>
    <p>- Restful API in Node JS on SQL Server</p>
    <p>- Express JS, Sequelize, ...</p>
    <p><b>Front</b> :</p>
    <p>- React JS Library : JSX, AJAX</p>
    <p>Using : Axios, Redux, React Router, ...</p>
    <p>- Angular</p>
</div>

<div id="row_white">
    <div id="container">
        <div class="cv_category_title">
            <p class="period">▸ 2022</p>
            <p class="title"><b>.NET</b> Azure</p>
        </div>
        <p class="place">@ <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>

        <p><b>Back</b> :</p>
        <p>- Restful API in C# ( .NET ) on SQL Server</p>
        <p><b>Front</b> :</p>
        <p>- ASP MVC</p>
        <p>- Angular Framework : HTML / SCSS & TypeScript</p>
        <p><b>Others</b> :</p>
        <p>- WPF MVVM</p>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ 2022</p>
        <p class="title"><b>IT</b> Fundamentals</p>
    </div>
    <p class="place">@ <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>

    <p><b>Basics</b> :</p>
    <p>- Algorithmics</p>
    <p>- OOP ( C# )</p>
    <p>- UML / ER Diagram & Relational Schemas</p>
    <p>- SQL : DB on SQL Server ( with SSMS )</p>
</div>

<div id="row_white">
    <div id="container">
        <div class="cv_category_title">
            <p class="period">▸ 2022</p>
            <p class="title"><b>PHP</b> Initiation</p>
        </div>
        <p class="place">@ <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>
        <p><b>Basics</b> : </p>
        <p>- Variables</p>
        <p>- Arrays</p>
        <p>- Functions</p>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ 2021</p>
        <p class="title"><b>Digital Coordinator</b></p>
    </div>
    <p class="place">@ <a href="https://grow.google/intl/ch-fr" target="_blank">Google Digital Atelier</a></p>
    <p>- e-Commerce</p>
</div>

<div id="row_white">
    <div id="container">
        <div class="cv_category_title">
            <p class="period">▸ 2019</p>
            <p class="title"><b>SEO</b>, SEA, SMM</p>
        </div>
        <p class="place">@ <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a></p>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ 2017</p>
        <p class="title"><b>Sound Design</b></p>
    </div>
    <p class="place">@ <a href="https://www.technocite.be" target="_blank">Technocité</a></p>
</div>

<div id="row_white">
    <div id="container">
        <div class="cv_category_title">
            <p class="period">▸ 2002</p>
            <p class="title"><b>CESS</b> : Visual Arts</p>
        </div>
        <p class="place">@ <a href="https://www.sainte-marie.be" target="_blank">Institut Ste-Marie</a></p>
    </div>
</div>