<div id="row_white">
    <div class="cv_title_category">
        <h2>Projects</h2>
    </div>
</div>

<div id="container">
    <img class="logo" src="../../../../../assets/app_logos/logo_fp_02.png" />
    <p> ∎ <b>Website</b> : </p>
    <p><a target="_blank" href="https://www.flyingpad.be">https://www.flyingpad.be</a></p>
    <p> ∎ <b>GitHub Repository</b> : </p>
    <p><a target="_blank" href="https://github.com/FlyingPAD/www.flyingpad.be">https://github.com/FlyingPAD/www.flyingpad.be</a></p>
</div>