<div class="layout">
    <div class="page-title">
        <app-icon-experience size="50px" />
        <h1> ▸ Experience</h1>
    </div>
    <div class="box back">
        <div class="cv-category-title">
            <p class="period">▸ 2024</p>
            <p class="title"><b>.NET Developer</b></p>
        </div>
        <p class="place">Employee &#64; <a href="http://www.satellit.be/" target="_blank">Satellit</a></p>
        <p>Part of the Pluxee Support Team.</p>
        <p><b>Frontend</b> :</p>
        <ul>
            <li>Redesign Pluxee Sport & Culture Website Forms based on figma documentation.</li>
        </ul>
        <p><b>Backend</b> :</p>
        <ul>
            <li>Coded a console application to parse *.csv files and send the result to another API service.</li>
        </ul>
    </div>
    <div class="box back">
        <div class="cv-category-title">
            <p class="period">▸ 2015 - 2022</p>
            <p class="title">Audio Producer</p>
        </div>
        <p class="place">Freelance &#64; Various Clients</p>
        <p>Prospecting and administrative management. Production, recording, editing and post-production. Mixing and
            mastering.</p>
        <p>Delivery of various productions and audio edits.</p>
    </div>
    <div class="box back">
        <div class="cv-category-title">
            <p class="period">▸ 2018 - 2022</p>
            <p class="title">Webmaster</p>
        </div>
        <p class="place"> Freelance &#64; Various Clients</p>
        <p>Management of web hosting accounts, installation of CMS (Joomla, WordPress, etc.) and SaaS. Follow-up and
            editing.</p>
    </div>
    <div class="box back">
        <div class="cv-category-title">
            <p class="period">▸ 2009 - 2015</p>
            <p class="title">Audio Manager</p>
        </div>
        <p class="place">Freelance &#64; Various Clients</p>
        <p>Stage manager for concerts and theater plays. Composer of music for video games, short films, art
            installations,
            corporate videos, etc.</p>
        <p>Musician in various ensembles. Music teacher (Piano, Drums, Guitar, Audio Production).</p>
    </div>
    <div class="box back">
        <div class="cv-category-title">
            <p class="period">▸ 2019 - 2020</p>
            <p class="title">Audio Producer</p>
        </div>
        <p class="place">Employee &#64; <a href="https://www.brandy-jingles.com" target="-blank">Brandy Jingles</a></p>
        <p>Responsible for planning, managing, and monitoring studio sessions with actors, Including recording,
            production,
            and post-production.</p>
        <p>Delivery of various productions and audio edits for various television and radio channels.</p>
    </div>
    <div class="box back">
        <div class="cv-category-title">
            <p class="period">▸ 2006 - 2008</p>
            <p class="title">Administrative</p>
        </div>
        <p class="place">Employee &#64; <a href="https://www.vivaqua.be" target="-blank">Vivaqua</a></p>
        <p>Responsible for sending compliance agreements for tanks and soakaways to the relevant addresses and ensuring
            the administrative follow-up of the work.</p>
        <p>Data entry via Excel and SAP. Answering questions from concerned individuals by phone.</p>
    </div>
    <div class="box back">
        <div class="cv-category-title">
            <p class="period">▸ 2021</p>
            <p class="title">Sale & Restocking</p>
        </div>
        <p class="place">Interim Employee &#64; <a href="https://www.sportsdirect.com" target="-blank">Sport Direct</a></p>
    </div>
    <div class="box back">
        <div class="cv-category-title">
            <p class="period">▸ 2005</p>
            <p class="title">Construction</p>
        </div>
        <p class="place">Interim Employee &#64; <a href="https://www.outlet-kantoormeubelen.be" target="-blank">Mewaf</a></p>
    </div>
    <div class="box back">
        <div class="cv-category-title">
            <p class="period">▸ 2004</p>
            <p class="title">Horeca</p>
        </div>
        <p class="place">Interim Employee &#64; <a href="https://www.kasteelgrootbijgaarden.be" target="-blank">Art Catering</a></p>
    </div>
    <app-spacer height="5px" />
</div>
<app-spacer height="175px" />