<app-button-top />
<div class="row-white">
    <div class="cv-title-category">
        <h2>Experience</h2>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ 2024</p>
        <p class="title"><b>.NET Developer</b></p>
    </div>
    <p class="place">Employee @ <a href="http://www.satellit.be/" target="_blank">Satellit</a></p>
    <p><b>Frontend</b> :</p>
    <ul>
        <li>Pluxee Sport & Culture Digital.</li>
    </ul>
    <p><b>Backend</b> :</p>
    <ul>
        <li>Pluxee Support Team.</li>
    </ul>
</div>
<div class="row-white">
    <div class="container">
        <div class="cv-category-title">
            <p class="period">▸ 2015 - 2022</p>
            <p class="title">Audio Producer</p>
        </div>
        <p class="place">Freelance @ <a href="https://www.flyingpad.be" target="-blank">Flying PAD</a></p>
        <p> - Prospection</p>
        <p> - Production, Edition & Post-Production</p>
        <p> - Sales & after-sales services</p>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ 2018 - 2022</p>
        <p class="title">Webmaster</p>
    </div>
    <p class="place"> Freelance @ Various Clients</p>
    <p> - Consultancy</p>
    <p> - Conception</p>
    <p> - Administration & Maintenance</p>
</div>
<div class="row-white">
    <div class="container">
        <div class="cv-category-title">
            <p class="period">▸ 2009 - 2015</p>
            <p class="title">Audio Manager</p>
        </div>
        <p class="place">Freelance @ Various Clients</p>
        <p> - Live & Studio Audio Manager</p>
        <p>( Theatre / Concerts / Recording Engineer )</p>
        <p> - Composer, Sound Designer</p>
        <p>( Vclasseo Games, Short Films, Installations, Corporate )</p>
        <p> - Musician / Music Teacher</p>
        <p>( Piano, Drums, Guitar, Audio Production )</p>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ 2019 - 2020</p>
        <p class="title">Audio Producer</p>
    </div>
    <p class="place">Employee @ <a href="https://www.brandy-jingles.com" target="-blank">Brandy Jingles</a></p>
    <p> - Planification ( Outlook )</p>
    <p> - Customer reception</p>
    <p> - Production & Post-Production</p>
</div>
<div class="row-white">
    <div class="container">
        <div class="cv-category-title">
            <p class="period">▸ 2006 - 2008</p>
            <p class="title">Administrative</p>
        </div>
        <p class="place">Employee @ <a href="https://www.vivaqua.be" target="-blank">Vivaqua</a></p>
        <p> - Helpdesk</p>
        <p> - Encoding ( Excel / SAP )</p>
        <p> - File Management</p>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ 2021</p>
        <p class="title">Sale & Restocking</p>
    </div>
    <p class="place">Interim Employee @ <a href="https://www.sportsdirect.com" target="-blank">Sport Direct</a></p>
</div>
<div class="row-white">
    <div class="container">
        <div class="cv-category-title">
            <p class="period">▸ 2005</p>
            <p class="title">Construction</p>
        </div>
        <p class="place">Interim Employee @ <a href="https://www.outlet-kantoormeubelen.be" target="-blank">Mewaf</a></p>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ 2004</p>
        <p class="title">Horeca</p>
    </div>
    <p class="place">Interim Employee @ <a href="https://www.kasteelgrootbijgaarden.be" target="-blank">Art Catering</a></p>
</div>