<div class="layout">
    <div class="page-title">
        <app-icon-experience size="50px" />
        <h1> ▸ Experience</h1>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ .NET Developer</p>
            <p>2024</p>
        </div>
        <p class="place">Employee &#64; <a href="http://www.satellit.be/" target="_blank">Satellit</a></p>
        <hr>
        <p>Part of the Pluxee Support Team.</p>
        <p> ▸ <b>Frontend</b> :</p>
        <p> Redesign Pluxee Sport & Culture Website Forms based on figma documentation.</p>
        <p> ▸ <b>Backend</b> :</p>
        <p> Coded a console application to parse *.csv files and send the result to another API service.</p>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ Audio Producer</p>
            <p>2015 - 2022</p>
        </div>
        <p class="place">Freelance &#64; Various Clients</p>
        <hr>
        <p> - Prospecting and administrative management.</p>
        <p> - Production, recording, editing, mixing & mastering.</p>
        <p> - Sound design & post-production.</p>
        <p> - Delivery of various productions and audio edits.</p>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ Webmaster</p>
            <p>2018 - 2022</p>
        </div>
        <p class="place"> Freelance &#64; Various Clients</p>
        <hr>
        <p> - Management of web hosting accounts</p>
        <p> - Installation of CMS (Joomla, WordPress, etc.) and SaaS. Follow-up and editing.</p>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ Audio Manager</p>
            <p>2009 - 2015</p>
        </div>
        <p class="place">Freelance &#64; Various Clients</p>
        <hr>
        <p> - Stage manager for concerts and theater plays.</p>
        <p> - Composer of music for video games, short films, art installations, corporate videos, etc.</p>
        <p> - Musician in various ensembles.</p>
        <p> - Music teacher (Piano, Drums, Guitar, Audio Production).</p>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ Audio Producer</p>
            <p>2019 - 2020</p>
        </div>
        <p class="place">Employee &#64; <a href="https://www.brandy-jingles.com" target="-blank">Brandy Jingles</a></p>
        <hr>
        <p> - Responsible for planning, managing, and monitoring studio sessions with actors, Including recording, production & post-production.</p>
        <p> - Delivery of various productions and audio edits for various television and radio channels.</p>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ Administrative</p>
            <p>2006 - 2008</p>
        </div>
        <p class="place">Employee &#64; <a href="https://www.vivaqua.be" target="-blank">Vivaqua</a></p>
        <hr>
        <p> - Responsible for sending compliance agreements for tanks and soakaways to the relevant addresses and ensuring the administrative follow-up of the work.</p>
        <p> - Data entry via Excel and SAP. Answering questions from concerned individuals by phone.</p>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ Sale & Restocking</p>
            <p>2021</p>
        </div>
        <p class="place">Interim Employee &#64; <a href="https://www.sportsdirect.com" target="-blank">Sport Direct</a></p>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ Construction</p>
            <p>2005</p>
        </div>
        <p class="place">Interim Employee &#64; <a href="https://www.outlet-kantoormeubelen.be" target="-blank">Mewaf</a></p>
    </div>
    <div class="box back">
        <div class="box-title">
            <p> ▸ Horeca</p>
            <p>2004</p>
        </div>
        <p class="place">Interim Employee &#64; <a href="https://www.kasteelgrootbijgaarden.be" target="-blank">Art Catering</a></p>
    </div>
    <app-spacer height="5px" />
</div>
<app-spacer height="175px" />