<app-button-top />
<div class="row-white">
    <div class="cv-title-category">
        <h2>Hard Skills</h2>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ Communication</p>
    </div>
    <p><u>Languages</u> ( ELAO ) :</p>
    <p> - <b>French</b> : C2</p>
    <p> - <b>English</b> : B2+</p>
    <p> - <b>Dutch / Flemish</b> : B2</p>
</div>
<div class="row-white">
    <div class="container">
        <div class="cv-category-title">
            <p class="period">▸ Conception</p>
        </div>
        <p>- Business Analysis</p>
        <p>- <b>UML</b> ( Unified Modeling Language )</p>
        <p>- ER Diagram & Relational Schema</p>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ Project Management</p>
    </div>
    <p> - Outlook</p>
    <p> - <b>Agile</b> :</p>
    <ul>
        <li>Trello / Jira / Kanban (Notions)</li>
        <li>Scrum</li>
    </ul>
</div>
<div class="row-white">
    <div class="container">
        <div class="cv-category-title">
            <p class="period">▸ GIT, Versioning & CI-CD</p>
        </div>
        <p> - GitHub / Actions</p>
        <p> - Azure DevOps / Pipelines</p>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ Frontend DEV</p>
    </div>
    <p>- HTML, (S)CSS, JS</p>
    <p>- <b>Angular</b> Framework with TS, RxJS</p>
    <p>- Redux state manager</p>
    <p>- <b>React</b> Library</p>
    <p>- Blazor WASM</p>
</div>
<div class="row-white">
    <div class="container">
        <div class="cv-category-title">
            <p class="period">▸ Backend DEV & SSR</p>
        </div>
        <p><b>.NET</b> Runtime :</p>
        <p> - .NET Core & Framework</p>
        <p> - ORM : EF Core</p>
        <p> - ADO.NET</p>
        <p><b>Node JS</b> Runtime : </p>
        <p> - Express Framework</p>
        <p> - ORM : Sequelize</p>
        <p><b>PHP</b> Runtime :</p>
        <p> - Symfony Framework</p>
        <p><b>Python</b> Runtime :</p>
        <p> - Flask Framework</p>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ Database</p>
    </div>
    <p> - SQL Server</p>
    <p> - MySQL / MariaDB</p>
</div>
<div class="row-white">
    <div class="container">
        <div class="cv-category-title">
            <p class="period">▸ Software</p>
        </div>
        <p> - DB : Azure Data Studio</p>
        <p> - DB : SSMS</p>
        <p> - IDE : Visual Studio</p>
        <p> - Edition : Visual Studio Code</p>
    </div>
</div>