<app-button-top />
<div class="row-white">
    <div class="cv-title-category">
        <h2>Hard Skills</h2>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ Communication</p>
    </div>
    <p><u>Languages</u> ( ELAO ) :</p>
    <p> - <b>French</b> : C2</p>
    <p> - <b>English</b> : B2+</p>
    <p> - <b>Dutch / Flemish</b> : B2</p>
</div>
<div class="row-white">
    <div class="container">
        <div class="cv-category-title">
            <p class="period">▸ Conception</p>
        </div>
        <p>- Business Analysis</p>
        <p>- <b>UML</b> ( Unified Modeling Language )</p>
        <p>- ER Diagram & Relational Schema</p>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ Project Management</p>
    </div>
    <p>- Outlook</p>
    <p>- Trello / Jira ( Notions )</p>
</div>
<div class="row-white">
    <div class="container">
        <div class="cv-category-title">
            <p class="period">▸ GIT Versioning & CI-CD</p>
        </div>
        <p> - GitHub</p>
        <p> - Azure DevOps</p>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ Front</p>
    </div>
    <p>- <b>Angular</b> Framework : HTML, SCSS & TypeScript</p>
    <p>- <b>React</b> JS Library : JS, JSX, AJAX with Vite, Redux, ...</p>
</div>
<div class="row-white">
    <div class="container">
        <div class="cv-category-title">
            <p class="period">▸ Back</p>
        </div>
        <p>- Database : SQL Server & MySQL</p>
        <p>- Restful API in .NET C#</p>
        <p>- Restful API in NodeJS</p>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period">▸ Software</p>
    </div>
    <p>- DB : Azure Data Studio</p>
    <p>- DB : SSMS</p>
    <p>- IDE : Visual Studio</p>
    <p>- Edition : Visual Studio Code</p>
</div>