<div class="layout">
    <div class="page-title">
        <app-icon-hard-skills size="50px" />
        <h1> ▸ Hard Skills</h1>
    </div>    
    <div class="box back">
        <div class="box-title">
            <p> ▸ Communication</p>
        </div>
        <p><u>Languages</u> ( ELAO ) :</p>
        <p> - <b>French</b> : C2</p>
        <p> - English : B2+</p>
        <p> - Dutch / Flemish : B2</p>
    </div>    
    <div class="box back">
        <div class="box-title">
            <p> ▸ Conception</p>
        </div>
        <p>- Business Analysis</p>
        <p>- UML ( Unified Modeling Language )</p>
        <p>- ER Diagram & Relational Schema</p>
    </div>    
    <div class="box back">
        <div class="box-title">
            <p> ▸ Project Management</p>
        </div>
        <p> - Outlook</p>
        <p> - Agile / Scrum</p>
        <p> - Trello / Jira / Kanban</p>
    </div>    
    <div class="box back">
        <div class="box-title">
            <p> ▸ GIT, Versioning & CI-CD</p>
        </div>
        <p> - GitHub Workflows / Actions</p>
        <p> - Azure DevOps / Pipelines</p>
    </div>    
    <div class="box back">
        <div class="box-title">
            <p> ▸ Frontend DEV</p>
        </div>
        <p>- HTML, (S)CSS, JS</p>
        <p>- <b>Angular</b> Framework with TS, RxJS, Signal</p>
        <p>- <b>React</b> Library with Vite</p>
        <p>- Redux state manager</p>
        <p>- Blazor WASM</p>
    </div>    
    <div class="box back">
        <div class="box-title">
            <p>▸ Backend DEV & SSR</p>
        </div>
        <p><b>.NET</b> Runtime :</p>
        <p> - .NET Core & Framework</p>
        <p> - ORM : EF Core</p>
        <p> - ADO.NET</p>
        <p><b>Node JS</b> Runtime : </p>
        <p> - Express Framework</p>
        <p> - ORM : Sequelize</p>
        <p><b>PHP</b> Runtime :</p>
        <p> - Symfony Framework</p>
        <p><b>Python</b> Runtime :</p>
        <p> - Flask Framework</p>
    </div>    
    <div class="box back">
        <div class="box-title">
            <p>▸ Database</p>
        </div>
        <p> - SQL Server</p>
        <p> - MySQL / MariaDB</p>
    </div>    
    <div class="box back">
        <div class="box-title">
            <p>▸ Tools & Software</p>
        </div>
        <p>Packaging : NPM, PNPM, YARN</p>
        <p> - DB : Azure Data Studio</p>
        <p> - DB : SSMS</p>
        <p> - IDE : Visual Studio</p>
        <p> - Edition : Visual Studio Code</p>
    </div>
    <app-spacer height="5px" />
</div>
<app-spacer height="175px" />