<div class="layout">
    <div class="page-title">
        <app-icon-soft-skills size="50px" />
        <h1> ▸ Soft Skills</h1>
    </div>    
    <div class="box back">
        <div class="box-title">
            <p> ▸ Rigorous</p>
        </div>
        <p> - Strong commitment to projects and company objectives</p>
        <p> - Adhering to deadlines</p>
        <p> - Maintaining high work quality</p>
    </div>    
    <div class="box back">
        <div class="box-title">
            <p> ▸ Curious</p>
        </div>
        <p> - Ability to quickly assimilate new technologies and methodologies</p>
        <p> - Rapidly adapting to changes</p>
    </div>    
    <div class="box back">
        <div class="box-title">
            <p> ▸ Assertive</p>
        </div>
        <p> - Excellent communication skills</p>
        <p> - Collaborating with teams and stakeholders</p>
        <p> - Clearly explaining technical concepts</p>
    </div>
    <app-spacer height="5px" />
</div>
<app-spacer height="175px" />