<div class="title">
    <h1> ▸ Soft Skills</h1>
</div>
<app-spacer height="25px" />
<div class="box back">
    <p> ▸ <b>Committed</b></p>
    <p>Strong commitment to projects and company objectives, adhering to deadlines and maintaining high work quality.</p>
</div>
<app-spacer height="25px" />
<div class="box back">
    <p> ▸ <b>Quick Learner</b></p>
    <p>Ability to quickly assimilate new technologies and methodologies, rapidly adapting to changes.</p>
</div>
<app-spacer height="25px" />
<div class="box back">
    <p> ▸ <b>Effective Communicator</b></p>
    <p>Excellent communication skills, collaborating with teams and stakeholders, clearly explaining technical concepts.</p>
</div>
<app-spacer height="175px" />