<app-button-top />
<div class="row-white">
    <div class="cv-title-category">
        <h2>Soft Skills</h2>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period"> ▸ Pleasant</p>
    </div>
    <p>Patient & Optimistic.</p>
</div>
<div class="row-white">
    <div class="container">
        <div class="cv-category-title">
            <p class="period"> ▸ Creative</p>
        </div>
        <p>Audio and video production are among my specific interests.</p>
        <p>I enjoy bringing ideas to life through different forms of media.</p>
        <br>
        <p>If you'd like to see some examples of my work,</p>
        <p>check out my <u><a routerLink="/projects">projects</a></u></p>
    </div>
</div>
<div class="container">
    <div class="cv-category-title">
        <p class="period"> ▸ Assertive</p>
    </div>
    <p>Communication is the key !</p>
</div>