<div class="title">
    <h1> ▸ Projects</h1>
</div>
<div class="projects back">
    <div>
        <img class="logo" src="/assets/projects.png" />
    </div>
    <div>
        <p> ∎ <b>Frontend portfolio</b> : </p>
        <p><a target="_blank" href="https://projects.flyingpad.be">https://projects.flyingpad.be</a></p>
        <p> ∎ <b>GitHub Repository</b> : </p>
        <p><a target="_blank"
                href="https://github.com/FlyingPAD/www.projects.flyingpad.be">https://github.com/FlyingPAD/www.projects.flyingpad.be</a>
        </p>
    </div>
</div>
<app-spacer height="25px" />
<div class="projects back">
    <div>
        <img class="logo" src="/assets/logo_fp_03.png" />
    </div>
    <div>
        <p> ∎ <b>Main Project</b> : </p>
        <p><a target="_blank" href="https://www.flyingpad.be">https://www.flyingpad.be</a></p>
        <p> ∎ <b>GitHub Repository</b> : </p>
        <p><a target="_blank"
                href="https://github.com/FlyingPAD/www.flyingpad.be">https://github.com/FlyingPAD/www.flyingpad.be</a>
        </p>
    </div>
</div>
<app-spacer height="175px" />