<app-button-top />
<div class="row-white">
    <div class="cv-title-category">
        <h2>Projects</h2>
    </div>
</div>
<div class="projects">
    <div>
        <img class="logo" src="../../../assets/logo_fp_03.png" />
    </div>
    <div>    
        <p> ∎ <b>Website</b> : </p>
        <p><a target="_blank" href="https://www.flyingpad.be">https://www.flyingpad.be</a></p>
        <p> ∎ <b>GitHub Repository</b> : </p>
        <p><a target="_blank" href="https://github.com/FlyingPAD/www.flyingpad.be">https://github.com/FlyingPAD/www.flyingpad.be</a></p>
    </div>
</div>
<div class="projects">
    <div>
        <img class="logo" src="../../../assets/projects.png" />
    </div>
    <div>    
        <p> ∎ <b>Website</b> : </p>
        <p><a target="_blank" href="https://projects.flyingpad.be">https://projects.flyingpad.be</a></p>
    </div>
</div>