.languages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    .language {
        width: 125px;
        display: flex;
        align-items: center;
        background-color: var(--colorMainOpacity2);
        border: 2px solid var(--colorMain);
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
        transition-duration: 300ms;

        img {
            height: 20px;
            margin-left: 5px;
            margin-right: 10px;
        }

        p {
            margin: 0;
        }

        &:hover {
            background-color: var(--colorWhite);
        }
    }
}

.page {
    position: relative;
    width: 794px;
    height: 1123px;
    margin: 15px auto;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
    font-family: "Segoe UI Symbol", sans-serif;

    border: 3px solid var(--colorMain);
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 var(--colorMainOpacity2);

    a {
        color: black;
    }

    .left {
        width: 250px;
        height: 100%;
        background-image: url('/assets/curriculum_vitae/back/left_01.png');
        background-size: cover;

        .photo {
            display: flex;
            justify-content: center;

            margin: 20px;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .full-name {
            display: flex;
            justify-content: center;

            h1 {
                font-size: 20px;
                margin: 0;
            }
        }

        .main-traits {
            display: flex;
            justify-content: center;

            h2 {
                margin: 5px;
                font-size: 14px;
                opacity: 0.7;
            }
        }

        .category-content {
            margin-left: 15px;

            p {
                margin: 10px auto;
                font-size: 14px;
            }

            .elao {
                width: 65%;
                margin-top: 10px;

                .group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        margin: 1px;
                    }

                    .tweak {
                        margin-right: 14px;
                    }
                }
            }
        }
    }

    hr {
        width: 90%;
        margin: 10px auto;
        opacity: 0.5;
    }

    .category-title {
        display: flex;
        align-items: center;
        margin-top: 5px;
        margin-left: 15px;

        .icon {
            height: 25px;
            width: 25px;
        }

        h3 {
            margin: 0 5px;
            font-size: 15px;
            opacity: 0.8;
        }
    }

    .right {
        width: 544px;
        height: 100%;
        background-image: url('/assets/curriculum_vitae/back/right_01.png');
        background-size: cover;

        h4 {
            font-size: 15px;
            margin: 0;
            margin-top: 10px;
            text-indent: 15px;
        }

        .category-content {
            display: flex;
            align-items: center;

            margin: 15px;
            font-size: 13px;

            .period {
                width: 115px;
                font-weight: bold;
                border-bottom: 1px dotted black;
            }

            .title {
                width: 225px;
                border-bottom: 1px dotted black;
            }

            .place {
                width: 180px;
                border-bottom: 1px dotted black;
            }
        }

        .description {
            margin: 0;
            margin-left: 35px;
            margin-top: 5px;
            font-size: 13px;
        }
    }

    .star {
        margin: 8px;
        text-indent: 15px;
    }

    .right_category {
        margin-left: 15px;
        margin-right: 15px;

        p {
            font-size: 14px;
            line-height: 10px;
        }
    }

    .table_date {
        font-size: 14px;
        padding: 5px;

        td {
            margin-right: 5px;
            border-bottom: 1px dotted black;
        }
    }

    .icons {
        height: 25px;
        width: 25px;
        margin-right: 8px;
    }
}