<div class="languages">
    <div class="language" (click)="switchLanguage('fr')">
        <img src="/assets/icons-flags/fr.png">
        <p>Français</p>
    </div>
    <div class="language" (click)="switchLanguage('en')">
        <img src="/assets/icons-flags/en.png">
        <p>Anglais</p>
    </div>
</div>
<div id="page">
    <div id="left">
        <div id="left_photo">
            <img src="/assets/curriculum_vitae/tony.jpg" />
        </div>
        <div id="left_intro">
            <h1>Tony Van Langenhove</h1>
            <h2>Pleasant | Creative | Assertive</h2>
        </div>
        <div class="left_separator">
            <hr />
        </div>
        <div class="left_category">
            <div id="flex_title">
                <img class="icons" src="/assets/curriculum_vitae/icons/icon_1.png" />
                <h3 class="title">About me</h3>
            </div>
            <p>I'm a quick learner, passionate about learning & sharing new techniques.</p>
            <p>Sharing my knowledge with anyone interested while learning from my mentors.</p>
        </div>
        <div class="left_separator">
            <hr />
        </div>
        <div class="left_category">
            <div id="flex_title">
                <img class="icons" src="/assets/curriculum_vitae/icons/icon_2.png" />
                <h3 class="title">Languages</h3>
            </div>
            <div class="elao">
                <div class="group">
                    <p> ▸ <b>{{ "title.french" | translate }}</b> :</p>
                    <p class="tweak">C2 </p>
                </div>
                <div class="group">
                    <p> ▸ <b>{{ "title.dutch" | translate }}</b> :</p>
                    <p class="tweak">B2 </p>
                </div>
                <div class="group">
                    <p> ▸ <b>{{ "title.english" | translate }}</b> :</p>
                    <p>B2 +</p>
                </div>
            </div>
        </div>
        <div class="left_separator">
            <hr />
        </div>
        <div class="left_category">
            <div id="flex_title">
                <img class="icons" src="/assets/curriculum_vitae/icons/icon_4.png" />
                <h3 class="title">Contact me</h3>
            </div>
            <p>
                +32 ( 0 ) 472 / 42 57 44<br />
                Rue Lamir 8B / 2 ( 7000 ) Mons<br /><br />
                ▸ E-Mail : <a href="mailto:tonyvan&#64;live.fr">tonyvan&#64;live.fr</a><br />
                ▸ Network : Linkedin<br />
                ▸ Website : <a href="https://www.flyingpad.be" target="_blank">www.flyingpad.be</a>

            </p>
        </div>
        <div class="left_separator">
            <hr />
        </div>
        <div class="left_category">
            <div id="flex_title">
                <img class="icons" src="/assets/curriculum_vitae/icons/icon_5.png" />
                <h3 class="title">Additional info</h3>
            </div>
            <p>
                ▸ July 15th 1982 ( 40 years old )<br />
                ▸ Driver's license ( B )<br />
            </p>
        </div>
        <div class="left_separator">
            <hr />
        </div>
        <div class="left_category">
            <div id="flex_title">
                <img class="icons" src="/assets/curriculum_vitae/icons/icon_3.png" />
                <h3 class="title">Hobbies</h3>
            </div>
            <table class="table">
                <tr>
                    <td class="s_td"> ▸ Audio & Video Production</td>
                </tr>
                <tr>
                    <td class="s_td"> ▸ Coding music applications</td>
                </tr>
                <tr>
                    <td class="s_td"> ▸ Playing & teaching music</td>
                </tr>
                <tr>
                    <td class="s_td">( <a target="_blank" href="https://www.flyingpad.be">www.flyingpad.be</a> )</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- --------------------------------------------------------------------------------------------------- -->
    <div id="right">
        <div id="right_space"></div>
        <div class="right_category">
            <div id="flex_title">
                <img class="icons" src="/assets/curriculum_vitae/icons/icon_6.png" />
                <h3 class="title">Education</h3>
            </div>
            <div id="right_space"></div>
            <h4>Training</h4>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2023-2024</td>
                    <td id="title">Internship ( .NET Developer )</td>
                    <td id="place">&#64; <a href="http://www.satellit.be/" target="_blank">Satellit</a>
                    </td>
                </tr>
            </table>
            <p class="star">.NET Developer / API's / Azure / Services & WEB Integration</p>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2023</td>
                    <td id="title">WEB Developer ( Full Stack )</td>
                    <td id="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a>
                    </td>
                </tr>
            </table>
            <p class="star">JavaScript | Restful API in NodeJS (SQL Server) | Angular | React</p>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2022</td>
                    <td id="title">.NET Azure</td>
                    <td id="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a>
                    </td>
                </tr>
            </table>
            <p class="star">Restful API in .NET C# (SQL Server) | Angular | ASP MVC | WPF MVVM</p>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2022</td>
                    <td id="title">IT Fundamentals</td>
                    <td id="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a>
                    </td>
                </tr>
            </table>
            <p class="star">Algorithmics, Object-oriented programming, UML, ERD & ER Schema, SQL</p>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2022</td>
                    <td id="title">PHP Initiation</td>
                    <td id="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a>
                    </td>
                </tr>
            </table>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2021</td>
                    <td id="title">Digital Coordinator / E-Commerce</td>
                    <td id="place">&#64; <a href="https://grow.google/intl/ch-fr" target="_blank">Google Digital
                            Atelier</a>
                    </td>
                </tr>
            </table>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2019</td>
                    <td id="title">SEO, SEA, SMM</td>
                    <td id="place">&#64; <a href="http://www.technofuturtic.be/" target="_blank">Technofutur TIC</a>
                    </td>
                </tr>
            </table>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2017</td>
                    <td id="title">Sound Design</td>
                    <td id="place">&#64; <a href="https://www.technocite.be" target="_blank">Technocité</a></td>
                </tr>
            </table>

            <h4>C.E.S.S.</h4>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2002</td>
                    <td id="title">Visual Arts</td>
                    <td id="place">&#64; <a href="https://www.sainte-marie.be" target="_blank">Institut Ste-Marie</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="right_separator">
            <hr />
        </div>
        <div class="right_category">
            <div id="flex_title">
                <img class="icons" src="/assets/curriculum_vitae/icons/icon_7.png" />
                <h3 class="title">Work experience</h3>
            </div>
            <div id="right_space"></div>
            <h4>Employee</h4>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2024</td>
                    <td id="title">.NET Developer ( Full Stack )</td>
                    <td id="place">&#64; <a href="https://www.satellit.be" target="_blank">Satellit</a>
                    </td>
                </tr>
            </table>
            <p class="star">Backend & Frontend Development / Azure Services / CI-CD</p>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2019 - 2020</td>
                    <td id="title">Audio Producer</td>
                    <td id="place">&#64; <a href="https://www.brandy-jingles.com" target="_blank">Brandy Jingles</a>
                    </td>
                </tr>
            </table>
            <p class="star">( Outlook ) Planification | Customer reception | Production & Post-Production</p>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2006 - 2008</td>
                    <td id="title">Administrative</td>
                    <td id="place">&#64; <a href="https://www.vivaqua.be" target="_blank">Vivaqua</a></td>
                </tr>
            </table>
            <p class="star">Helpdesk | Encoding ( Excel / SAP ) | File Management</p>
            <div id="right_space"></div>
            <h4>Freelance</h4>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2015 - 2022</td>
                    <td id="title">Audio Producer</td>
                    <td id="place">&#64; <a href="https://www.flyingpad.be" target="_blank">Flying PAD</a></td>
                </tr>
            </table>
            <p class="star">Prospection | Edition & Production | Sales & after-Sales services</p>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2018 - 2022</td>
                    <td id="title">Webmaster</td>
                    <td id="place">&#64; <a href="#">Various Clients</a></td>
                </tr>
            </table>
            <p class="star">Consultancy | Conception | Administration & Maintenance</p>
            <div id="right_space"></div>
            <h4>Interim</h4>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2021</td>
                    <td id="title">Sale & Restocking</td>
                    <td id="place">&#64; <a href="https://www.sportsdirect.com" target="_blank">Sport Direct</a></td>
                </tr>
            </table>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2005</td>
                    <td id="title">Construction</td>
                    <td id="place">&#64; <a href="https://www.outlet-kantoormeubelen.be" target="_blank">Mewaf</a></td>
                </tr>
            </table>
            <table class="table_date">
                <tr>
                    <td id="period">▸ 2004</td>
                    <td id="title">Horeca</td>
                    <td id="place">&#64; <a href="https://www.kasteelgrootbijgaarden.be" target="_blank">Art
                            Catering</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<app-spacer height="200px" />