<div id="row_white">
    <div class="cv_title_category">
        <h2>Projects</h2>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ MoodBoard</p>
    </div>
    <img class="logo" src="../../../../../assets/app_logos/logo_boy_04.png" />
    <p>Custom gallery for a Pro Photography Studio</p>
    <p> ∎ <b>Demo Website</b> : </p>
    <p><a target="_blank" href="https://bestofyou.flyingpad.be">https://bestofyou.flyingpad.be</a></p>
</div>

<div id="row_white">
    <div id="container">
        <div class="cv_category_title">
            <p class="period">▸ Flying PAD</p>
        </div>
        <img class="logo" src="../../../../../assets/app_logos/logo_fp_02.png" />
        <p>Sharing my music journey</p>
        <p> ∎ <b>Demo Website</b> : </p>
        <p><a target="_blank" href="https://www.flyingpad.be">https://www.flyingpad.be</a></p>

        <div id="box_social">
            <div class="social">            
                <a target="_blank" href="https://www.facebook.com/FlyingPAD">
                    <img class="icon_social" src="../../../../assets/app_icons/social/facebook_01.png"/>
                </a>
                <p class="tiny">Facebook</p>
            </div>  
            <div class="social">            
                <a target="_blank" href="https://www.instagram.com/tony_van_langenhove/">
                    <img class="icon_social" src="../../../../assets/app_icons/social/instagram.png"/>
                </a>
                <p class="tiny">Instagram</p>
            </div>
            <div class="social">            
                <a target="_blank" href="https://www.youtube.com/@flyingpad">
                    <img class="icon_social" src="../../../../assets/app_icons/social/youtube.png"/>
                </a>
                <p class="tiny">YouTube</p>
            </div>
            <div class="social">            
                <a target="_blank" href="https://soundcloud.com/flyingpad">
                    <img class="icon_social" src="../../../../assets/app_icons/social/soundcloud.png"/>
                </a>
                <p class="tiny">Soundcloud</p>
            </div>
            <div class="social">            
                <a target="_blank" href="https://twitter.com/Flying_PAD">
                    <img class="icon_social" src="../../../../assets/app_icons/social/twitter.png"/>
                </a>
                <p class="tiny">Twitter</p>
            </div>
        </div>
    </div>
    <br>
</div>

