<div class="cv-menu-desktop">
    <div class="menu-content-common">
        <img src="../../../../../assets/logo_fp_03.png" routerLink="/home"/>
        <p>Tony's Resume</p>
        <div class="box-buttons">
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </div>
        <div class="box-buttons">
            <a routerLink="/training" routerLinkActive="active">Training</a>
            <a routerLink="/experience" routerLinkActive="active">Experience</a>
        </div>
        <div class="box-buttons">
            <a routerLink="/soft-skills" routerLinkActive="active">Soft Skills</a>
            <a routerLink="/hard-skills" routerLinkActive="active">Hard Skills</a>
        </div>
        <div class="box-buttons">
            <a routerLink="/projects" routerLinkActive="active">Projects</a>
        </div>
        <p>Downloads :</p>        
        <div class="cv-menu-links">
            <p> ▸ <a target="_blank" href="../../../../../assets/tony_resume_en.png">Tony's Resume *.png ( English )</a></p>
            <p> ▸ <a target="_blank" href="../../../../../assets/tony_cv_fr.png">Mon CV *.png ( Français )</a></p>  
        </div>
    </div>
</div>