.cv-menu-desktop
{
    display: block;
    position: fixed;
    top: 0;
    right: 0;

    width: 330px;
    height: 100%;
    
    overflow-y: scroll;
    border-left: 1px solid #6b5240;
    background-color: rgba(255, 253, 251, 0.8);

    z-index: 3;
    transition-duration: 500ms;
}

@media (max-width: 1250px) 
{
    .cv-menu-desktop
    {
        display: none;
    }
}