.cv-menu-mobile
{
    display: none;
    position: absolute;
    width: 300px;

    background-color: rgba(255, 253, 251, 0.95);
    border-radius: 15px;

    z-index: 20;
    transition-duration: 500ms;
}

.cv-menu-mobile-active
{
    left: 50%;
    top: 15px;

    transform: translateX(-50%);

    opacity: 1;
    transition-duration: 500ms;
}

.cv-menu-mobile-hidden
{
    left: -1150px;
    top: 15px;

    opacity: 0;
    transition-duration: 500ms;
}

.overlay
{
    display: none;
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width: 100vw;
    background-color:rgba(107, 82, 64, 0.5);
    z-index: 1;
}

@media (max-width: 1250px) 
{
    .cv-menu-mobile
    {
        display: block;
    }
    .overlay
    {
        display: block;
    }
}

.toggle
{
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
    box-shadow: 0 3px 6px 0px rgba(80, 42, 14, 0.3);
    padding: 15px;

    .group
    {
        display: flex;
        align-items: center;

        background-color: #6b5240;
        border:1px solid #6b5240;
        border-radius: 5px;
        box-shadow: 0 3px 6px 0px rgba(80, 42, 14, 0.3);

        padding: 17px;
        padding-top: 9px; padding-bottom: 9px;

        img
        {
            height: 17px;
            width: 17px;
            margin-right: 13px;
        }
        p
        {
            margin: 0;
            font-size: 14px;
            color: #fff;  
        }
    }
    .group:hover
    {
        background-color: #fff;
        transition-duration: 500ms;
        cursor: pointer;
        p
        {
            color:#6b5240;
            transition-duration: 500ms;
        }
    }
}

@media (min-width: 1250px) 
{
    .toggle
    {
        display: none;
    }
}