html {
    overflow-y: scroll;
    overflow-x: hidden;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    body {
        font-family: var(--fontFamily);
        background-image: var(--texture001);
        background-repeat: repeat;
        background-position: top left;
    }
}

.layout {
    margin-top: 15px;
    
    background-color: var(--colorMainOpacity1);
    border-radius: 15px;
    backdrop-filter: blur(3px);
    box-shadow: 0 3px 3px 0 var(--colorMainOpacity2);

    .page-title {
        margin-top: 15px;
        padding: 15px;
        display: flex;
        align-items: center;

        h1 {
            color: var(--colorMain);
            font-size: 20px;
        }
    }

    .box {
        padding: 15px;

        p {
            color: var(--colorMain);
            font-size: 14px;
        }

        hr {
            opacity: 0.2;
            color: var(--colorMain);
            margin-top: 0;
            margin-bottom: 15px;
        }

        .box-title {
            padding: 10px;

            background-color: var(--colorMainOpacity2);
            border: 1px solid var(--colorMainOpacity3);
            border-radius: 5px;
            backdrop-filter: blur(3px);
            box-shadow: 0 3px 3px 0 var(--colorMainOpacity2);

            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                margin: 0;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    .back {
        margin: 25px;
        background-color: var(--colorWhiteOpacity5);
        border-radius: 10px;
        backdrop-filter: blur(3px);
        box-shadow: 0 3px 3px 0 var(--colorMainOpacity2);
    }

    .place {
        color: #3e2e22;
        text-indent: 15px;
        font-size: 14px;

        a {
            color: #6b5240;
            text-decoration: underline;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

@media (min-width: 800px) {
    .layout {
        width: 800px;
        margin: auto;
    }
}