.curriculum-vitae
{
    margin-bottom: 150px;

    h1
    {
        margin: 0;
        margin-top: 15px; margin-bottom: 15px;
    
        font-size: 19px;
        text-align: center;
        letter-spacing: 1px;
    
        color: #6b5240;	
        text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    }
    
    h2
    {
        margin: 5px;
    
        font-size: 17px;
        text-align: left;
        letter-spacing: 1px;
    
        color: #6b5240;	
        text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    }

    p
    {
        margin: 0;
        margin-top: 15px; margin-bottom: 15px;

        color: #6b5240;  
        text-align: center;
    }

    img
    {
        display: block;
        margin: auto;
    }

    .icons
    {
        display: block;
        margin: auto;
        
        height: 50px;
        width: 50px;
    }

    .cv-title-category
    {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 15px;

        img
        {
            margin-right: 15px;
            height: 45px;
            width: 45px;
        }
        h2
        {
            font-size: 20px;
        }
    }
    
    .row-white
    {
        background-color: rgba(255, 255, 255, 0.4);
    }

    .container
    {
        padding: 20px;

        .center
        {
            text-align: center;
        }
        .tiny
        {
            text-align: center;
            font-size: 12px;
        }
        
        p
        {
            text-align: left;

            a
            {
                color: #6b5240;  
                text-decoration: none;
            }
            a:hover
            {
                text-decoration: underline;
            }
        }

        ul
        {
            color: #6b5240;  

            li
            {
                margin-bottom: 8px;
            }
        }

        .cv-category-title
        {
            display: flex;

            .period
            {
                padding: 10px; padding-right: 15px;
                background-color: rgba(107, 82, 64, 0.1);
                border-radius: 5px;  
                box-shadow: 0 3px 4px 0px rgba(80, 42, 14, 0.3);
                font-weight: bold;
                font-size: 15px;
            }
            .title
            {
                padding: 10px; 
            }
        }
        .place
        {
            color: #3e2e22;  
            margin: 0; margin-bottom: 20px;
            text-indent: 15px;
            font-size: 15px;
            
            a
            {
                color: #6b5240;  
                text-decoration: none;
            }
            a:hover
            {
                text-decoration: underline;
            }
        }
    }
    @media (min-width: 650px) 
    {
        .container
        {
            width: 500px;
            margin: auto;
            border-radius: 5px;
        }
    }

    // Menu Content.
    .menu-content-common
    {
        padding-top: 15px;

        img
        {
            display: block;
            margin: auto;

            width: 161px;
            height: 77px;

            opacity: 0.7;
        }
        img:hover
        {
            opacity: 1;
            transition-duration: 250ms;
            cursor: pointer;
        }

        .box-buttons
        {      
            margin: 15px;

            background-color: rgba(107, 82, 64, 0.2);
            border-radius: 5px; 
            box-shadow: 0 3px 4px 0px rgba(80, 42, 14, 0.3);
            
            padding: 25px;
            padding-top : 10px; padding-bottom: 10px;
            
            a
            {
                display: block;

                padding: 10px;
                margin: 10px;

                border: 1px solid #6b5240;
                border-radius: 5px;
                background-color:  #6b5240;
                box-shadow: 0 3px 4px 0px rgba(80, 42, 14, 0.3);

                text-align: center;
                font-size: 15px;
                text-decoration: none;
                color: white;
            }
            a:hover
            {
                cursor: pointer;
                background-color:  rgba(255, 255, 255, 0.9);     
                color:  #6b5240;  
                transition-duration: 500ms;
            }
            .active
            {
                background-color: rgba(255, 255, 255, 0.3);  
                color:#6b5240; 
            }
        }

        .cv-menu-links
        {
            padding: 15px;
            padding-top: 0;

            p
            {
                margin: 0;
                text-align: left;

                background-color: rgba(107, 82, 64, 0.1);
                border-radius: 5px;
                box-shadow: 0 3px 4px 0px rgba(80, 42, 14, 0.3);

                padding: 10px;

                margin-top: 10px;

                font-size: 15px;

                a
                {
                    text-align: left;
                    color:#6b5240;
                    text-decoration: none;
                }
                a:hover
                {
                    text-decoration: underline;
                }
            }
        }
    }
}