// ------------------------------------------------------------------
// - CV MENU :

#curriculum-vitae
{
    #menu_content_common
    {
        padding-top: 15px;

        img
        {
            display: block;
            margin: auto;

            width: 161px;
            height: 77px;

            opacity: 0.95;
        }
        img:hover
        {
            opacity: 1;
            transition-duration: 250ms;
            cursor: pointer;
        }

        .box_buttons
        {      
            margin: 15px;

            background-color: rgba(107, 82, 64, 0.2);
            border-radius: 5px; 
            
            padding: 25px;
            padding-top : 10px; padding-bottom: 10px;
            
            a
            {
                display: block;

                padding: 10px;
                margin: 10px;

                border: 1px solid #6b5240;
                background-color:  #6b5240;
                border-radius: 5px;

                text-align: center;
                font-size: 15px;
                text-decoration: none;
                color: white;
            }
            a:hover
            {
                cursor: pointer;
                background-color:  rgba(255, 255, 255, 0.9);     
                color:  #6b5240;  
                transition-duration: 500ms;
            }
            .active
            {
                background-color: rgba(255, 255, 255, 0.3);  
                color:#6b5240; 
            }
        }

        #cv-menu-links
        {
            padding: 15px;
            padding-top: 0;

            p
            {
                margin: 0;
                text-align: left;

                background-color: rgba(107, 82, 64, 0.1);
                border-radius: 5px;

                padding: 10px;

                margin-top: 10px;

                font-size: 15px;

                a
                {
                    text-align: left;
                    color:#6b5240;
                    text-decoration: none;
                }
                a:hover
                {
                    text-decoration: underline;
                }
            }
        }
    }
}