<app-button-top />

<div id="row_white">
    <div class="cv_title_category">
        <h2>Experience</h2>
    </div>
</div>

<div id="container">
    <h2>∎ Freelance</h2>
    <div class="cv_category_title">
        <p class="period">▸ 2015 - 2022</p>
        <p class="title">Audio Producer</p>
    </div>
    <p class="place">@ <a href="https://www.flyingpad.be" target="_blank">Flying PAD</a></p>
    <p> - Prospection</p>
    <p> - Edition & Production</p>
    <p> - Sales & after-Sales services</p>
</div>

<div id="row_white">
    <div id="container">
        <div class="cv_category_title">
            <p class="period">▸ 2018 - 2022</p>
            <p class="title">Webmaster</p>
        </div>
        <p class="place">@ Various Clients</p>
        <p> - Consultancy</p>
        <p> - Conception</p>
        <p> - Administration & Maintenance</p>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ 2009 - 2015</p>
        <p class="title">Audio Manager</p>
    </div>
    <p class="place">@ Various Clients</p>
    <p> - Live & Studio Audio Manager</p>
    <p>( Theatre / Concerts / Recording Engineer )</p>
    <p> - Composer, Sound Designer</p>
    <p>( Video Games, Short Films, Installations, Corporate )</p>
    <p> - Musician / Music Teacher</p>
    <p>( Piano, Drums, Guitar, Audio Production )</p>
</div>

<div id="row_white">
    <div id="container">
        <h2>∎ Employee</h2>
        <div class="cv_category_title">
            <p class="period">▸ 2019 - 2020</p>
            <p class="title">Audio Producer</p>
        </div>
        <p class="place">@ <a href="https://www.brandy-jingles.com" target="_blank">Brandy Jingles</a></p>
        <p> - Planification ( Outlook )</p>
        <p> - Customer reception</p>
        <p> - Production & Post-Production</p>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ 2006 - 2008</p>
        <p class="title">Administrative</p>
    </div>
    <p class="place">@ <a href="https://www.vivaqua.be" target="_blank">Vivaqua</a></p>
    <p> - Helpdesk</p>
    <p> - Encoding ( Excel / SAP )</p>
    <p> - File Management</p>
</div>

<div id="row_white">
    <div id="container">
        <h2>∎ Interim</h2>
        <div class="cv_category_title">
            <p class="period">▸ 2021</p>
            <p class="title">Sale & Restocking</p>
        </div>
        <p class="place">@ <a href="https://www.sportsdirect.com" target="_blank">Sport Direct</a></p>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ 2005</p>
        <p class="title">Construction</p>
    </div>
    <p class="place">@ <a href="https://www.outlet-kantoormeubelen.be" target="_blank">Mewaf</a></p>
</div>

<div id="row_white">
    <div id="container">
        <div class="cv_category_title">
            <p class="period">▸ 2004</p>
            <p class="title">Horeca</p>
        </div>
        <p class="place">@ <a href="https://www.kasteelgrootbijgaarden.be" target="_blank">Art Catering</a></p>
    </div>
</div>